body {
    background: radial-gradient(circle, rgba(44, 27, 69, 1) 0%, rgba(107, 20, 112, 1) 100%);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

#header {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-style: dashed;
}

#main {
    /* width: 70%; */
    margin: 0 auto;
    padding: 100px;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
}

.teamMember {
    width: 18%;
    margin: 10px;
    display: inline-block;
    text-align: center;
    color: white;
}

.teamMember img {
    width: 100%;
    border-radius: 100%;
    margin: 0 auto;
}

.teamMember:hover {
    width: 20%;
    background-color: rgba(255, 255, 255, 0.1);
}

#footer {
    width: 100%;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
}


/*******************************************/


/* member page styles */

#memberMain {
    width: 70%;
    margin: 0 auto;
    padding: 100px;
}

#memberBox {
    width: 25%;
    float: left;
    padding: 15px;
}

#memberBox img {
    width: 100%;
    border-radius: 100%;
}

#questionsBox {
    width: 80%;
    /* float: right; */
    padding: 0 15px 0 50px;
}

#questionsBox h2 {
    color: white;
}

#questions p {
    background-color: white;
    padding: 10px;
    color: black;
    cursor: pointer;
}

#questions div {
    display: none;
}

#questions p:hover {
    background-color: bisque;
}

#question1:hover+#answer1 {
    display: block;
    color: white;
}

#question2:hover+#answer2 {
    display: block;
    color: white;
}

#question3:hover+#answer3 {
    display: block;
    color: white;
}

#question4:hover+#answer4 {
    display: block;
    color: white;
}

#question5:hover+#answer5 {
    display: block;
    color: white;
}